<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank" />
    <title>terror</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/layout.css">
    <link rel="stylesheet" href="./stylesheet/tablepage.css">
    <!-- <link rel="stylesheet" href="./libs/css/bootstrap.min.css"> -->
</head>
<body>
    <header>
        <div>
            <img src="/imgs/qiniulogo.png" alt="">
            <p>互联网网情信息预警系统</p>
        </div>
        <div id="wa_home_navbar">
            <a href="/home.html" target="_self">综合信息平台</a>
            <a href="/pulp.html" target="_self">涉黄信息</a>
            <a class="wa-home-nav-selected" href="/terror.html" target="_self">涉暴信息</a>
            <a href="/terrordetect.html" target="_self">涉暴信息(检测)</a>
            <a href="/politician.html" target="_self">涉政信息</a>
        </div>
    </header>
    <section></section>
    <footer>
        <p>@copy right reserved by Qiniu</p>
    </footer>
    
    <script src="./javascript/config.js"></script>
    <script src="./javascript/terror.js"></script>
    <script src="./javascript/filtertable.js"></script>
</body>
</html>