#wa_home_tablelist {
  width: 100%;
  border-collapse: collapse;
}
#wa_home_tablelist th {
  padding: 10px 5px;
  border: 1px solid #aaa;
  font-size: 1.2rem;
  font-weight: 900;
}
#wa_home_tablelist th:hover {
  cursor: pointer;
}
#wa_home_tablelist td {
  text-align: center;
  padding: 1px;
  font-size: 1rem;
  border: 1px solid #aaa;
  height: 3rem;
}
#wa_home_tablelist td img {
  height: 100%;
}
#wa_filter_panel {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#wa_filter_panel fieldset {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #aaa;
  font-size: .7rem;
  display: flex;
  flex-direction: column;
}
#wa_filter_panel fieldset legend {
  font-size: 1rem;
  font-weight: 500;
}
#wa_filter_panel fieldset input {
  padding: .3rem .75rem;
  font-size: .8rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0 .5rem;
}
#wa_filter_panel fieldset #wa_filter_input_score_range_form {
  text-align: center;
}
#wa_filter_panel fieldset #wa_filter_input_score_range_form > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#wa_filter_panel fieldset table {
  width: auto;
}
#wa_filter_panel fieldset table td {
  border: none;
  text-align: left;
  padding: .5rem;
  height: auto;
  font-size: .8rem;
  width: 11rem;
}
#wa_filter_panel fieldset #wa_filter_input_cate {
  margin-top: 1rem;
}
#wa_filter_panel button {
  height: 3rem;
  width: 6rem;
  font-size: 1rem;
  margin: auto 0;
}
.wa-filter-header-desc:after {
  content: ' \25BC';
  font-size: .8rem;
}
.wa-filter-header-asc:after {
  content: ' \25B2';
  font-size: .8rem;
}
