#wa_custom_frontpage {
    color: #555;

    #wa_custom_job_table {
        width: 100%;
        border-collapse: collapse;
    
        th,td {
            border: 1px solid #eee;
            padding: .5rem 1rem;
        }

        .wa-custom-job-table-link {
            text-align: center;
            &:hover {
                cursor: pointer;
                color: #000;
                font-weight: 700;
            }
        }
    }
}

.wa-custom-buttonmenu {
    margin: 1rem 0;
}

#wa_custom_setpage {
    width: 80%;
    margin: 0 auto;

    >input {
        padding: .5rem;
        margin: 1rem 0;
        width: 20rem;
    }

    fieldset {
        padding: 2rem;
        margin: 2rem 0;
        box-sizing: border-box;
        border: 1px solid #aaa;
        color: #555;
    
        legend {
            font-size: 1.5rem;
            color: #555;
        }
    
        label:hover, select:hover {
            cursor: pointer;
        }
    
        &:first-child label {
            margin: 0 2rem;
        }
        
        &:nth-of-type(2) {
            input {
                width: 100%;
                padding: .5rem;
                // margin: 2rem;
                font-size: 1.2rem;
            }
    
            >p {
                font-size: .8rem;
                margin: 1rem 0;
                color: #999;
            }
        }
        
        &:nth-of-type(3) {
            display: flex;
            label {
                padding: .5rem 2rem;
            }
        }
        
        &:nth-of-type(4) {
            display: flex;
            table td {
                padding: 0.5rem 2rem;
    
                select {
                    width: 100%;
                }
            }
        }
    }
    
    #wa_custom_set_buttongroup {
        text-align: center;
        button {
            margin: 1rem;
            width: 7rem;
        }
    }
}
